sphinx==7.1.2
sphinx-book-theme
numpydoc
nbsphinx
sphinxcontrib-bibtex
sphinxcontrib-svg2pdfconverter
myst-parser

h5py
joblib
matplotlib
numba
numpy
pandas
scanpy
scikit-learn>=1.6
scipy
seaborn
statsmodels>=0.14
tqdm
scVAEIT